<nav class="flex flex-col justify-between items-center p-5 gap-5 border-b-[0.5] border-gray-300 md:flex-row">
    <%= link_to garage_path, class: "text-white max-w-50" do %>
        <svg
            id="pco-garage-logo"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 388.46 64.24"
            >
            <path
                d="M81.76,39.16v-14.01c0-9.6,4.54-15.61,15.16-15.61h14.72c9.98,0,14.59,4.99,15.1,13.56.06,1.09-.51,1.66-1.54,1.66h-5.76c-1.02,0-1.54-.58-1.6-1.6-.38-4.16-2.24-5.12-6.21-5.12h-14.72c-4.41,0-6.27,1.22-6.27,6.78v14.65c0,5.5,1.98,6.72,6.27,6.72h14.72c4.29,0,6.27-1.22,6.27-6.72v-2.18h-11c-1.02,0-1.6-.58-1.6-1.6v-4.61c0-1.02.58-1.6,1.6-1.6h18.3c1.02,0,1.6.58,1.6,1.6v8.06c0,9.53-4.54,15.55-15.16,15.55h-14.72c-10.62,0-15.16-6.01-15.16-15.55Z"
                fill="currentColor"
            />
            <path
                d="M172.98,53.49l-3.01-6.59h-25.85l-3.07,6.59c-.38.77-1.02,1.22-1.92,1.22h-6.46c-1.22,0-1.73-.77-1.22-1.86l20.35-42.16c.38-.77.96-1.15,1.86-1.15h6.78c.9,0,1.47.38,1.86,1.15l20.28,42.16c.51,1.09,0,1.86-1.22,1.86h-6.46c-.9,0-1.54-.38-1.92-1.22ZM166.65,39.61l-9.53-20.79-9.66,20.79h19.19Z"
                fill="currentColor"
            />
            <path
                d="M223.57,41.97l7.61,10.81c.77,1.09.26,1.92-1.02,1.92h-6.65c-.83,0-1.47-.32-1.92-1.02l-6.97-10.81h-15.74v10.24c0,1.02-.58,1.6-1.6,1.6h-5.69c-1.02,0-1.6-.58-1.6-1.6V11.14c0-1.02.58-1.6,1.6-1.6h23.23c13.12,0,18.11,5.5,18.11,16.32v.96c0,7.81-2.5,13.12-9.34,15.16ZM223.95,25.92c0-6.65-2.88-7.87-9.85-7.87h-15.23v16.38h15.23c6.85,0,9.85-1.15,9.85-7.68v-.83Z"
                fill="currentColor"
            />
            <path
                d="M280.88,53.49l-3.01-6.59h-25.85l-3.07,6.59c-.38.77-1.02,1.22-1.92,1.22h-6.46c-1.22,0-1.73-.77-1.22-1.86l20.35-42.16c.38-.77.96-1.15,1.86-1.15h6.78c.9,0,1.47.38,1.86,1.15l20.28,42.16c.51,1.09,0,1.86-1.22,1.86h-6.46c-.9,0-1.54-.38-1.92-1.22ZM274.55,39.61l-9.53-20.79-9.66,20.79h19.19Z"
                fill="currentColor"
            />
            <path
                d="M295.98,39.16v-14.01c0-9.6,4.54-15.61,15.16-15.61h14.72c9.98,0,14.59,4.99,15.1,13.56.06,1.09-.51,1.66-1.54,1.66h-5.76c-1.02,0-1.54-.58-1.6-1.6-.38-4.16-2.24-5.12-6.21-5.12h-14.72c-4.41,0-6.27,1.22-6.27,6.78v14.65c0,5.5,1.98,6.72,6.27,6.72h14.72c4.29,0,6.27-1.22,6.27-6.72v-2.18h-11c-1.02,0-1.6-.58-1.6-1.6v-4.61c0-1.02.58-1.6,1.6-1.6h18.3c1.02,0,1.6.58,1.6,1.6v8.06c0,9.53-4.54,15.55-15.16,15.55h-14.72c-10.62,0-15.16-6.01-15.16-15.55Z"
                fill="currentColor"
            />
            <path
                d="M350.27,53.11V11.14c0-1.02.58-1.6,1.6-1.6h35c1.02,0,1.6.58,1.6,1.6v5.31c0,1.02-.58,1.6-1.6,1.6h-27.77v9.85h17.98c1.02,0,1.6.58,1.6,1.6v4.67c0,1.02-.58,1.6-1.6,1.6h-17.98v10.43h27.77c1.02,0,1.6.58,1.6,1.6v5.31c0,1.02-.58,1.6-1.6,1.6h-35c-1.02,0-1.6-.58-1.6-1.6Z"
                fill="currentColor"
            />
            <path
                d="M43.96,35.3c1.01,1.01,1.01,2.65,0,3.66l-5,5c-1.01,1.01-2.65,1.01-3.66,0l-15.02-15.02c-1.01-1.01-1.01-2.65,0-3.66l5-5c1.01-1.01,2.65-1.01,3.66,0l15.02,15.02ZM64.24,4.43v55.38c0,2.45-1.98,4.43-4.43,4.43H4.43c-2.44,0-4.43-1.98-4.43-4.43V4.43C0,1.98,1.98,0,4.43,0h55.39c2.45,0,4.43,1.98,4.43,4.43ZM55.07,29.52l-20.34-20.34c-3.61-3.61-9.47-3.61-13.08,0l-12.47,12.47c-3.61,3.61-3.61,9.47,0,13.08l20.34,20.34c3.61,3.61,9.47,3.61,13.08,0l12.47-12.47c3.61-3.61,3.61-9.47,0-13.08Z"
                fill="currentColor"
            />
            </svg>
    <% end %>
    <% if authenticated? %>
        <%= button_to session_path, method: :delete, class: "flex items-center space-x-1 text-white" do |b| %>
            <div class="w-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%" fill="currentColor">
                    <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/>
                </svg>
            </div>
            <span class="font-display uppercase tracking-wide cursor-pointer border-transparent border-b-1 border-dashed hover:border-yellow-300">Log Out</span>
        <% end %>
    <% end %>
</nav>
