<fieldset data-payment-target="additionalFields" data-type="credit_card" class="flex flex-col space-y-5">
    <div>
        <%= form.label :credit_card_number %>
        <%= form.text_field :credit_card_number %>
    </div>
    <div>
        <%= form.label :expiration_date %>
        <%= form.text_field :expiration_date, placeholder: "e.g. 03/2025" %>
    </div>
</fieldset>