<fieldset data-payment-target="additionalFields" data-type="purchase_order" class="flex flex-col space-y-5">
    <div>
        <%= form.label :po_number %>
        <%= form.number_field :po_number %>
    </div>
</fieldset>