<aside class="basis-4xl border-gray-200 border-1 rounded p-4 max-h-fit flex flex-col w-full gap-2">
    <section id="<%= dom_id cart %>" class="w-full space-y-5 mb-8 sm:w-auto">
        <%= render cart.line_items %>
    </section>
    <section class="mt-5 p-4 bg-gray-100 rounded max-h-fit">
        <h2 class="font-display text-lg font-medium text-right">Order Summary</h2>
        <p class="text-base text-right">Total <%= number_to_currency cart.total_price %></p>
    </section>
     <%= button_to "Empty Cart", cart_path(cart), method: :delete, class: "underline cursor-pointer flex justify-end w-full text-xs" %>
</aside>
