<footer class="bg-yellow-300 px-5 pt-8 pb-2 flex justify-center lg:pt-15">
    <div class="container flex flex-col gap-5">
        <section class="flex flex-col gap-5 justify-center md:flex-row lg:gap-20 xl:gap-40">
            <section>
                <h2 class="font-display text-xl text-center font-medium mb-2">Support</h2>
                <ul class="text-center">
                    <li>Service Center</li>
                    <li>Return Policy</li>
                    <li>Shipping</li>
                    <li>Order Cancellations</li>
                    <li>Order Status</li>
                </ul>
            </section>
            <section>
                <h2 class="font-display text-xl text-center font-medium mb-2">About</h2>
                <ul class="text-center">
                    <li>Our Story</li>
                    <li>Work Here</li>
                    <li>Sustainability Pledge</li>
                    <li>Investors</li>
                    <li>Press</li>
                </ul>
            </section>
            <section>
                <h2 class="font-display text-xl text-center font-medium mb-2">Resources</h2>
                <ul class="text-center">
                    <li>The Wagon Wheel</li>
                    <li>How-To Guides</li>
                    <li>Style Deck</li>
                    <li>Coupons</li>
                    <li>Look Books</li>
                </ul>
            </section>
        </section>
        <section class="pt-4 border border-0 border-t-[0.5] px-3 flex flex-col items-center gap-2 md:flex-row md:items-center md:justify-between md:gap-3">
            <div class="w-20">
                <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 108.23">
                    <g class="md:hidden">
                        <path d="M165.69,0h-38.52c-1.23,0-2.22.99-2.22,2.22v69.4h17.97v-15.44h22.77c7.74,0,14.01-6.27,14.01-14.01V14.01c0-7.74-6.27-14.01-14.01-14.01ZM161.48,39.4c0,2.17-1.75,3.92-3.92,3.92h-10.72c-2.17,0-3.92-1.75-3.92-3.92v-19.51c0-2.17,1.75-3.92,3.92-3.92h10.72c2.16,0,3.92,1.75,3.92,3.92v19.51Z" fill="currentColor"/>
                        <path d="M285.99.18h-26.73c-7.74,0-14.01,6.27-14.01,14.01v43.6c0,7.74,6.27,14.01,14.01,14.01h26.73c7.74,0,14.01-6.27,14.01-14.01V14.19c0-7.74-6.27-14.01-14.01-14.01ZM281.9,52.09c0,2.16-1.75,3.92-3.92,3.92h-10.72c-2.16,0-3.92-1.75-3.92-3.92V19.89c0-2.16,1.75-3.92,3.92-3.92h10.72c2.16,0,3.92,1.75,3.92,3.92v32.2Z" fill="currentColor"/>
                        <path d="M221.91,25.36v-5.53c0-2.16-1.75-3.92-3.92-3.92h-10.72c-2.17,0-3.92,1.75-3.92,3.92v32.2c0,2.17,1.75,3.92,3.92,3.92h10.72c2.16,0,3.92-1.75,3.92-3.92v-5.53h18.1v11.23c0,7.74-6.27,14.01-14.01,14.01h-26.73c-7.74,0-14.01-6.27-14.01-14.01V14.13c0-7.74,6.27-14.01,14.01-14.01h26.73c7.74,0,14.01,6.27,14.01,14.01v11.23h-18.1Z" fill="currentColor"/>
                        <path d="M124.96,107.11v-29.41c0-.72.4-1.12,1.12-1.12h19.23c7.4,0,10.58,3.94,10.58,11.88v8.07c0,7.89-3.18,11.7-10.58,11.7h-19.23c-.72,0-1.12-.4-1.12-1.12ZM144.59,102.32c3.41,0,5.15-.94,5.15-5.87v-7.93c0-4.93-1.66-5.96-5.15-5.96h-13.4v19.77h13.4Z" fill="currentColor"/>
                        <path d="M163.64,107.11v-29.41c0-.72.4-1.12,1.12-1.12h24.52c.72,0,1.12.4,1.12,1.12v3.72c0,.72-.4,1.12-1.12,1.12h-19.45v6.9h12.6c.72,0,1.12.4,1.12,1.12v3.27c0,.72-.4,1.12-1.12,1.12h-12.6v7.31h19.45c.72,0,1.12.4,1.12,1.12v3.72c0,.72-.4,1.12-1.12,1.12h-24.52c-.72,0-1.12-.4-1.12-1.12Z" fill="currentColor"/>
                        <path d="M197.89,107.11v-29.41c0-.72.4-1.12,1.12-1.12h16.27c9.14,0,12.33,3.85,12.33,11.34v.99c0,7.26-3.18,11.16-12.33,11.16h-11.16v7.04c0,.72-.4,1.12-1.12,1.12h-3.99c-.72,0-1.12-.4-1.12-1.12ZM214.79,94.16c4.62,0,6.59-.99,6.59-5.29v-.94c0-4.53-1.88-5.38-6.59-5.38h-10.67v11.61h10.67Z" fill="currentColor"/>
                        <path d="M234.06,97.34v-9.82c0-6.72,3.18-10.94,10.62-10.94h11.52c7.44,0,10.62,4.21,10.62,10.94v9.82c0,6.68-3.18,10.89-10.62,10.89h-11.52c-7.44,0-10.62-4.21-10.62-10.89ZM256.21,102.27c3,0,4.39-.85,4.39-4.71v-10.27c0-3.9-1.26-4.75-4.39-4.75h-11.52c-3.09,0-4.39.85-4.39,4.75v10.27c0,3.85,1.39,4.71,4.39,4.71h11.52Z" fill="currentColor"/>
                        <path d="M282.97,107.11v-24.52h-9.68c-.72,0-1.12-.4-1.12-1.12v-3.77c0-.72.4-1.12,1.12-1.12h25.6c.72,0,1.12.4,1.12,1.12v3.77c0,.72-.4,1.12-1.12,1.12h-9.68v24.52c0,.72-.4,1.12-1.12,1.12h-3.99c-.72,0-1.12-.4-1.12-1.12Z" fill="currentColor"/>
                    </g>
                    <path d="M73.95,59.47c1.7,1.7,1.7,4.45,0,6.15l-8.41,8.41c-1.7,1.7-4.45,1.7-6.15,0l-25.27-25.27c-1.7-1.7-1.7-4.45,0-6.15l8.41-8.41c1.7-1.7,4.45-1.7,6.15,0l25.27,25.27ZM108.06,7.54v93.16c0,4.11-3.34,7.45-7.45,7.45H7.45c-4.11,0-7.45-3.34-7.45-7.45V7.54C0,3.42,3.34.09,7.45.09h93.16c4.11,0,7.45,3.34,7.45,7.45ZM92.63,49.74L58.41,15.52c-6.08-6.07-15.92-6.07-22,0l-20.98,20.98c-6.07,6.07-6.07,15.92,0,22l34.22,34.22c6.08,6.07,15.92,6.07,22,0l20.98-20.98c6.07-6.07,6.07-15.92,0-22Z" fill="currentColor"/>
                </svg>
            </div>
            <p class="font-display text-sm uppercase tracking-wider text-center">Reliability for every job | © <%= DateTime.now.year %>. All Rights Reserved.</p>
        </section>
    </div>
</footer>
