<nav class="flex flex-col justify-between items-center p-5 bg-black gap-5 md:flex-row">
    <%= link_to store_index_path, class: "text-white max-w-50" do %>
        <svg id="pco-depot" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 108.23">
            <g id="wordmark">
                <path d="M165.69,0h-38.52c-1.23,0-2.22.99-2.22,2.22v69.4h17.97v-15.44h22.77c7.74,0,14.01-6.27,14.01-14.01V14.01c0-7.74-6.27-14.01-14.01-14.01ZM161.48,39.4c0,2.17-1.75,3.92-3.92,3.92h-10.72c-2.17,0-3.92-1.75-3.92-3.92v-19.51c0-2.17,1.75-3.92,3.92-3.92h10.72c2.16,0,3.92,1.75,3.92,3.92v19.51Z" fill="currentColor"/>
                <path d="M285.99.18h-26.73c-7.74,0-14.01,6.27-14.01,14.01v43.6c0,7.74,6.27,14.01,14.01,14.01h26.73c7.74,0,14.01-6.27,14.01-14.01V14.19c0-7.74-6.27-14.01-14.01-14.01ZM281.9,52.09c0,2.16-1.75,3.92-3.92,3.92h-10.72c-2.16,0-3.92-1.75-3.92-3.92V19.89c0-2.16,1.75-3.92,3.92-3.92h10.72c2.16,0,3.92,1.75,3.92,3.92v32.2Z" fill="currentColor"/>
                <path d="M221.91,25.36v-5.53c0-2.16-1.75-3.92-3.92-3.92h-10.72c-2.17,0-3.92,1.75-3.92,3.92v32.2c0,2.17,1.75,3.92,3.92,3.92h10.72c2.16,0,3.92-1.75,3.92-3.92v-5.53h18.1v11.23c0,7.74-6.27,14.01-14.01,14.01h-26.73c-7.74,0-14.01-6.27-14.01-14.01V14.13c0-7.74,6.27-14.01,14.01-14.01h26.73c7.74,0,14.01,6.27,14.01,14.01v11.23h-18.1Z" fill="currentColor"/>
                <path d="M124.96,107.11v-29.41c0-.72.4-1.12,1.12-1.12h19.23c7.4,0,10.58,3.94,10.58,11.88v8.07c0,7.89-3.18,11.7-10.58,11.7h-19.23c-.72,0-1.12-.4-1.12-1.12ZM144.59,102.32c3.41,0,5.15-.94,5.15-5.87v-7.93c0-4.93-1.66-5.96-5.15-5.96h-13.4v19.77h13.4Z" fill="currentColor"/>
                <path d="M163.64,107.11v-29.41c0-.72.4-1.12,1.12-1.12h24.52c.72,0,1.12.4,1.12,1.12v3.72c0,.72-.4,1.12-1.12,1.12h-19.45v6.9h12.6c.72,0,1.12.4,1.12,1.12v3.27c0,.72-.4,1.12-1.12,1.12h-12.6v7.31h19.45c.72,0,1.12.4,1.12,1.12v3.72c0,.72-.4,1.12-1.12,1.12h-24.52c-.72,0-1.12-.4-1.12-1.12Z" fill="currentColor"/>
                <path d="M197.89,107.11v-29.41c0-.72.4-1.12,1.12-1.12h16.27c9.14,0,12.33,3.85,12.33,11.34v.99c0,7.26-3.18,11.16-12.33,11.16h-11.16v7.04c0,.72-.4,1.12-1.12,1.12h-3.99c-.72,0-1.12-.4-1.12-1.12ZM214.79,94.16c4.62,0,6.59-.99,6.59-5.29v-.94c0-4.53-1.88-5.38-6.59-5.38h-10.67v11.61h10.67Z" fill="currentColor"/>
                <path d="M234.06,97.34v-9.82c0-6.72,3.18-10.94,10.62-10.94h11.52c7.44,0,10.62,4.21,10.62,10.94v9.82c0,6.68-3.18,10.89-10.62,10.89h-11.52c-7.44,0-10.62-4.21-10.62-10.89ZM256.21,102.27c3,0,4.39-.85,4.39-4.71v-10.27c0-3.9-1.26-4.75-4.39-4.75h-11.52c-3.09,0-4.39.85-4.39,4.75v10.27c0,3.85,1.39,4.71,4.39,4.71h11.52Z" fill="currentColor"/>
                <path d="M282.97,107.11v-24.52h-9.68c-.72,0-1.12-.4-1.12-1.12v-3.77c0-.72.4-1.12,1.12-1.12h25.6c.72,0,1.12.4,1.12,1.12v3.77c0,.72-.4,1.12-1.12,1.12h-9.68v24.52c0,.72-.4,1.12-1.12,1.12h-3.99c-.72,0-1.12-.4-1.12-1.12Z" fill="currentColor"/>
            </g>
            <path id="icon" d="M73.95,59.47c1.7,1.7,1.7,4.45,0,6.15l-8.41,8.41c-1.7,1.7-4.45,1.7-6.15,0l-25.27-25.27c-1.7-1.7-1.7-4.45,0-6.15l8.41-8.41c1.7-1.7,4.45-1.7,6.15,0l25.27,25.27ZM108.06,7.54v93.16c0,4.11-3.34,7.45-7.45,7.45H7.45c-4.11,0-7.45-3.34-7.45-7.45V7.54C0,3.42,3.34.09,7.45.09h93.16c4.11,0,7.45,3.34,7.45,7.45ZM92.63,49.74L58.41,15.52c-6.08-6.07-15.92-6.07-22,0l-20.98,20.98c-6.07,6.07-6.07,15.92,0,22l34.22,34.22c6.08,6.07,15.92,6.07,22,0l20.98-20.98c6.07-6.07,6.07-15.92,0-22Z" fill="currentColor"/>
        </svg>
    <% end %>
    <search class="text-white flex justify-center items-center w-full"><input type="search" placeholder="Search the warehouse" class="font-display w-full max-w-200 border border-white rounded-full py-2 px-5 focus:bg-yellow-300 focus:text-black"/></search>
    <ul class="flex space-x-3 text-white md:space-x-5">
        <li class="font-display uppercase tracking-wide"><%= link_to "Products", store_index_path, class: "cursor-pointer border-transparent border-b-1 border-dashed hover:border-yellow-300" %></li>
        <li class="font-display uppercase tracking-wide flex items-center space-x-1">
            <div class="w-5">
                <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.3163 19.4384C5.92462 18.0052 7.34492 17 9 17H15C16.6551 17 18.0754 18.0052 18.6837 19.4384M16 9.5C16 11.7091 14.2091 13.5 12 13.5C9.79086 13.5 8 11.7091 8 9.5C8 7.29086 9.79086 5.5 12 5.5C14.2091 5.5 16 7.29086 16 9.5ZM22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <a class="cursor-pointer border-transparent border-b-1 border-dashed hover:border-yellow-300">Account</a>
        </li>
        <%= render partial: "layouts/counter", locals: { cart: @cart } %>
    </ul>
</nav>
